@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project on Asp.Net</h1>
    <h3>app about Sport Equipment on Asp.Net</h3>
    <p>My name is haim ayenow and im a FullStack Developer studying at tech-creer</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
          Haim Ayenow FullStack Developer 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>*@
    <div class="col-md-4">
        <iframe style="width:300px;height:400px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3385.2546276411567!2d34.89264088535783!3d31.95398823280003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502ca5925736e95%3A0xc5c5043db367e9c0!2z15jXnNeo15M!5e0!3m2!1siw!2sil!4v1643504116107!5m2!1siw!2sil" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        @*<h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h3>You can easily find our website on google or at the link on the left</h3>
        <p><a class="btn btn-default" href="https://goo.gl/maps/xwFiauZXZuQxH91K6">visit us &raquo;</a></p>
    </div>
</div>